---
title: "Aerial Photography"
layout: splash
date: 2023-07-17
header:
  overlay_color: "#005f73"
  overlay_filter: "0.7"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "Contact Me"
      url: "#form1"
excerpt: "Elevate your perspective with professional drone photography capturing breathtaking landscapes, stunning real estate, dynamic automotive scenes, and luxurious hotels."
intro: 
  - excerpt: 'Discover the art of aerial imaging with my drone services, specializing in high-quality visuals that enhance the value and beauty of any subject.'
feature_row1:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Landscape aerial view"
    title: "Landscape Photography"
    excerpt: "Capture the vast beauty of nature from above with our landscape photography services."
    url: "/landscape-photography/"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Real estate aerial view"
    title: "Real Estate Photography"
    excerpt: "Showcase properties in their best light with detailed aerial photographs that attract potential buyers."
    url: "/real-estate-photography/"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    title: "Automotive Photography"
    excerpt: "Dynamic aerial shots that highlight the sleek design and setting of automobiles, perfect for marketing and promotions."
    url: "/automotive-photography/"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Luxury hotel aerial view"
    title: "Luxury Hotel Promotions"
    excerpt: 'Enhance the allure of luxury accommodations with stunning overhead shots that showcase the elegance and amenities of the property.'
    url: "/luxury-hotel-photography/"
feature_row5:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Drone capturing video"
    title: "Drone Video Services"
    excerpt: 'Bring your story to life with cinematic drone video services, perfect for documentaries, promotional content, and more.'
    url: "/drone-video-services/"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type="right" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row id="feature_row5" type="right" %}

Have questions about me, this website, or creating art on an iPad?

<form id="form1" name="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://mademistakes.wufoo.com/forms/zr2w1zk1hbcjv0/#public">
  <div>
    <label id="title7" for="Field7">Name
      <input id="Field7" name="Field7" type="text" spellcheck="false" maxlength="255" required placeholder="Your name">
    </label>
  </div>
  <div>
    <label id="title2" for="Field2">Email address <small>(will remain private)</small>
      <input id="Field2" name="Field2" type="email" spellcheck="false" maxlength="255" required placeholder="email@address.com">
    </label>
  </div>
  <div>
    <label id="title1" for="Field1">Message
      <textarea id="Field1" name="Field1" spellcheck="true" rows="10" cols="50" required></textarea>
    </label>
  </div>
  <div>
    <label id="title10" for="Field10">How&rsquo;d you hear about my website?
      <input id="Field10" name="Field10" type="text" maxlength="255" placeholder="e.g. Searching the web">
    </label>
  </div>
  <div>
    <button id="saveForm" name="saveForm" class="btn" type="submit">Send message</button>
  </div>
  <div class="hidden">
    <label for="comment">Do not fill this out
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="DXSyHZyBYpNZI+88LvVOKO8dSfd/5lyIeCQAXFVxeJY=">
    </label>
  </div>
</form>
